<h1>This is a list of all avaialble recipes</h1>

<div *ngFor="let recipe of recipes" class="recipe card" style="width: 500px;margin-bottom: 10px" >
  <div class="recipe card" style="width: 500px">
    <h5 class="card-header">{{recipe.title}}</h5>
    <div class="card-body">
      <div style="float: right">
        <img src="{{this.recipe.cover_photo ? this.recipe.cover_photo: '/assets/banana_bread.png'}}" style="width: 150px;height: 150px; margin: 5px "/>
      </div>
      <p>{{recipe.description}}</p>
    </div>
  </div>
</div>
